body{
  font-family: quicksand;
}
.homepage{
  background-image: url(../images/US-Open.png);
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-position: top;
}
header{
  width:100%;
  height: 100%;
  border: 0px red solid;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height:100vh;
}
h1{
  font-size: 100px;
  text-transform: uppercase;
}
section{
  position: absolute;
  background-color: green;
  width:100%;
  height: 100%;
  left: 0;
  top:100vh;
}


.parallax{
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  position:fixed;
  top:0;
  width:100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  z-index: 1;
}
nav a {
  text-decoration: none;
  outline:none;
  padding-right:40px;
  padding-left: 40px;
  border-radius: 20px;
  color: white;
}
nav a:hover{
  background-color: white;
  padding-right:40px;
  padding-left: 40px;
  border-radius: 20px;
}
.welcome{
  position: absolute;
	width: 100%;
	top: 50%;
  color:white;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -9999;
   background-image: url('../images/Running.gif');
   background-repeat: no-repeat;
   background-color: #FFF;
   background-position: center;
}
