body{
  font-family: Quicksand;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
a.icons:hover {
	opacity: .6;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
.homepage{
  background-image: url(../images/US-Open.png);
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar {
  border:0px solid red;
	position: relative;
	height: 80px;
	margin-bottom: 20px;
	border: 1px solid transparent
}
header{
  /* width:100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height:100vh; */
}
h1{
  font-size: 100px;
  text-transform: uppercase;
  font-family: Quicksand;
}
section{
  /* position: absolute;
  background-color: green;
  width:100%;
  height: 100%;
  left: 0;
  top:100vh; */
}


.parallax{
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-nav{
  position:fixed;
  top:0;
  left:0;
  width:auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  z-index: 1;
}
.mobile-nav a{
  text-decoration: none;
  outline:none;
  padding-right:4vh;
  padding-left: 4vh;
  border-radius: 20px;
  color: white;
}
.desktop-nav{
  position:fixed;
  top:0;
  left:0;
  width:auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  z-index: 100;
}
.desktop-nav a{
  text-decoration: none;
  outline:none;
  padding-right:4vh;
  padding-left: 4vh;
  border-radius: 20px;
  color: black;
}
nav a:hover{
  background-color: white;
  padding-right:4vh;
  padding-left: 4vh;
  border-radius: 20px;
}
.welcome{
  position: absolute;
	width: 100%;
	top: 80%;
  color:white;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -9999;
   background-image: url('../images/Running.gif');
   background-repeat: no-repeat;
   background-color: #FFF;
   background-position: center;
}
.title-section{
  position: absolute;
  background-color: red;
  width:100%;
  height: 100%;
  left: 0;
  top:200vh;
}
.social-links-custom{
  position:fixed;
  top:5px;
  right:0;
  width:auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  z-index: 1;
}
.social-links-custom a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
}
.social-links-custom a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;

}
.social-links-custom a:hover:nth-child(6) {
  border-radius: 10%;
}
.custom-button{
  background-color: white;
  border-radius: 100%;
}

#job-title{
  background-color: black;
  color: white;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 320px) {
  /* nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */
  .desktop-nav{
    display: none;
  }
.show-links{display:none; }
.homepage{
  background-size: auto 40%;
  background-position: top center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
  /* .nav-links{display: show;} */
}

/* SMARTPHONES LANDSCAPE */
/*       iPhone       */
@media only screen and (max-width: 480px) and (min-width : 320px) {
  /* nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */
  .desktop-nav{
    display: none;
  }
  .show-links{display:none; }
  .homepage{
    background-size: auto 40%;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  }
  .navbar {height: 50px;}
    /* .nav-links{display: show;} */
}

/* TABLET LANDSCAPE */
@media only screen and (max-width: 600px) and (min-width : 480px) {
  /* nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */
  .desktop-nav{
    display: none;
  }
.show-links{display:none; }
  .navbar{height:55px}
  /* .nav-links{display: show;} */
}
/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) and (min-width : 600px){
  /* nav{
    display: flex;
    justify-content: center;
  }
  nav a {
    padding-right:1vh;
    padding-left: 1vh;
  }
  nav a:hover{
    padding-right:1vh;
    padding-left: 1vh;
  } */
  .desktop-nav{display:none;}
  .navbar{height:52px}
      /* .nav-links{display: show;} */
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) and (min-width : 768px) {
  /* nav{
    display: flex;
    justify-content: center;
  }
  nav a {
    padding-right:2vh;
    padding-left: 2vh;
  }
  nav a:hover{
    padding-right:2vh;
    padding-left: 2vh;
  } */
    .social-links-custom{display:none;}
    .homepage{
      background-position: 0px -10vh;
    }
    .desktop-nav a{
      padding-right: 2vh;
      padding-left:2vh;
    }
    nav a:hover{
      padding-right: 2vh;
      padding-left:2vh;
    }
    #header-container{
      display:none;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (max-width : 1224px) and (min-width : 1024px){
  .homepage{
    background-position: 0px -10vh;
  }
  .mobile-nav{display:none;}
  .social-links-custom{display: none;}
  .show-links{display:flex; }
  .nav-links {display: none; }
  #header-container{
    display:none;
  }
}


@media only screen and (max-width : 1824px)  and (min-width : 1224px)  {
  .homepage{
    background-position: 0px -20vh;
  }
  .social-links-custom {display: flex;}
  .mobile-nav{display:none;}
.show-links{display:none; }
.nav-links, a.nav-links{display: none;}
#header-container{
  display:none;
}
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px){
  .homepage{
    background-position: 0px -40vh;
  }
  .mobile-nav{display:none;}
  .social-links-custom {display: flex;}
.show-links{display:none; }
  .nav-links, a.nav-links{display: none;}
  #header-container{
    display:none;
  }
}















/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */



 #menuToggle
 {
   width: 33px;
   height: 33px;
   position: relative;
   top: 3vh;
   left:3vh;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 33px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */

   -webkit-touch-callout: none;
 }

 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: white;
   border-radius: 3px;
   z-index: 1;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }

 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 /*
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: white;
 }

 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu{
   position: absolute;
   width: 150px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   height:100vh;
   background: black;
   opacity: 0.7;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   opacity: 1;
 }

 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
