.background{
  background-image:url(../images/UMass.png);height: 100%;
	background-position: center;
}
.blue{color:#4A86E8}
.bgblue{background-color:#4A86E8}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
a.icons:hover {
	opacity: .6;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
.homepage{
  background-image: url(../images/Moraine-Lake.png);
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;

}
section{
  width:100%;
  height: 100%;
  border: 2px red solid;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.parallax{
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
